a:hover {
    color: blue;
}

a{
    color: black;
}

.headerNav{
    margin:5px 35px;
    padding:10px 7px 7px 7px;
    list-style-type: none;
    flex-direction: row;
    background: white;
    color: black;
    font-size: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    width: 175px;
    height: 25px;
    text-align: center;
    float: right;
}

.headerStats{
    display: inline-block;
    margin:5px 35px;
    padding:10px 7px 7px 7px;
    list-style-type: none;
    flex-direction: row;
    color: white;
    font-size: 150%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 175px;
    height: 25px;
    text-align: center;
}

.topBarDisp{
    display: inline-block;
}

.pageTitle{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pageText{
    padding: 30px 160px;
}

.alignedText{
    display: inline-block;
    justify-content: center;
    display: flex;
    font-weight: bold;
    text-align: center;
}

.alignImages{
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 150px; 
}

.lootImages{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}




